{% extends 'base.html' %}
{% load static from staticfiles %}

{% block extra_css %}
{% endblock %}

{% block body_block %}
  <!--Add alert here-->
  Your company has already set group at {{ grp.name }}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#select-button").click(function() {
      $.ajax({
        url:"index.html",
        method: "GET",
        data: {
          grp_id: $('input[name="options"]:checked').val(),
          company_name: {{ company_name }},
          
        },
        success: function(result) {
          $('#hash-script').text($('input[name="options"]:checked').val());
          $("#show-script").show();
        }
      });
    });
  });
</script>
{% endblock %}
