{% extends 'base.html' %}
{% load static from staticfiles %}

{% block extra_css %}
{% endblock %}

{% block body_block %}
  <!--Add alert here-->
  Your company {{ grp.company }} has set group at {{ grp.group_name }}

  <!--Code DIV Here-->
  <div id="show-script" >
    <!--Well here in that code tag-->
    &lt;script type=&quot;text/javascript&quot; id=&quot;rocketapp-script&quot; data-attr=&quot;<span id="hash-script">{{ grp.grp_id }}</span>&quot; src=&quot;https://peaceful-hollows-95315.herokuapp.com/static/js/chart.js&quot; &gt;&lt;/script&gt;
  </div>
{% endblock %}

{% block extra_js %}
{% endblock %}