{% extends 'base.html' %}
{% load static from staticfiles %}

{% block extra_css %}
{% endblock %}

{% block body_block %}
  {% for grp in grps %}
    <input type="radio" name="options"  data-name="{{ grp.name }}" value="{{ grp.id }}">{{ grp.name }}</input>
  {% endfor %}
  <input id="comp-name" type="text" name="company_name" placeholder="Enter your company label">
  <button id="select-button">Select</button>
  <!--Code DIV Here-->
  <div id="show-script" style="display: none;">
    <!--Well here in that code tag-->
    &lt;script type=&quot;text/javascript&quot; id=&quot;rocketapp-script&quot; data-attr=&quot;<span id="hash-script"></span>&quot; src=&quot;https://peaceful-hollows-95315.herokuapp.com/static/js/chart.js&quot; &gt;&lt;/script&gt;
  </div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#select-button").click(function() {
      $.ajax({
        url:"/naya_grp/",
        method: "GET",
        data: {
          grp_id: $('input[name="options"]:checked').val(),
          company_name: $('#comp-name').val(),
          grp_name: $('input[name="options"]:checked').attr("data-name"),
          
        },
        success: function(result) {
          $('#hash-script').text($('input[name="options"]:checked').val());
          $("#show-script").show();
        }
      });
    });
  });
</script>
{% endblock %}