{% extends 'base.html' %}
{% load static from staticfiles %}

{% block extra_css %}
{% endblock %}

{% block body_block %}
    <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
        {% if live %}
            <label>Select the Flock Group which will be responsible for the LiveChat.</label>
              {% for grp in grps %}
                  <div class="radio">
                      <label>
                          <input type="radio" name="options" data-name="{{ grp.name }}" value="{{ grp.id }}">
                          {{ grp.name }}
                      </label>
                  </div>
              {% endfor %}
            <div class="form-group">
                <input type="text" name="company_name" class="form-control" id="comp-name" placeholder="Enter your company label">
            </div>
            <button type="submit" id="select-button" class="btn btn-flock btn-block" >Submit</button>
        {% else %}
            <div class="alert alert-success" role="alert">Your company: {{ grp.company }} has selected Group: {{ grp.group_name }} for LiveChat.
                 To add chat support, please copy the below snippet on your website.
                 You can use the Group to chat with the customers on the website using '/reply'.
            </div>
        {% endif %}
        <div id="show-script" {% if live %}style="display: none;" {% endif %}>
            <div class="well">
                <code> &lt;script type=&quot;text/javascript&quot; id=&quot;rocketapp-script&quot; data-attr=&quot;<span id="hash-script">{% if not live %}{{ grp.grp_id }}{% endif %}</span>&quot; src=&quot;https://peaceful-hollows-95315.herokuapp.com/static/js/chart.js&quot; &gt;&lt;/script&gt;</code>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#select-button").click(function() {
      $.ajax({
        url:"/naya_grp/",
        method: "GET",
        data: {
          grp_id: $('input[name="options"]:checked').val(),
          company_name: $('#comp-name').val(),
          grp_name: $('input[name="options"]:checked').attr("data-name"),
          
        },
        success: function(result) {
          $('#hash-script').text($('input[name="options"]:checked').val());
          $("#show-script").show();
          location.reload();
        }
      });
    });
  });
</script>

{% endblock %}